@model ResgisterModelView

    <div class="container-md">
        <div>
            <h2 class="section-heading text-uppercase">Create New Account</h2>
        </div>

    <form method="post" asp-action="Register" asp-controller="Account">
        <div class="form-group">
            <label asp-for="Username" class="form-label">Username</label>
            <input type="text" class="form-control" asp-for="Username" placeholder="Enter your phone Username" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="FullName" class="form-label">Full Name</label>
            <input type="text" class="form-control" asp-for="FullName" placeholder="Enter your full name" />
            <span asp-validation-for="FullName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Phone" class="form-label">Phone Number</label>
            <input type="tel" class="form-control" asp-for="Phone" placeholder="Enter your phone number" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password" class="form-label">Password</label>
            <input type="password" class="form-control" asp-for="Password" placeholder="Enter a strong password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary btn-md mt-2">Submit</button>
    </form>


    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
